body {
    background-color: yellow;
}

.content{
    position: absolute;
    width: calc(100% - 100px);
    height:calc(100% - 100px);
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:50px;
    background-color: white;

}

.detailtablehead {
    background-color: lightgray;
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
}
.detailstable {
    border-style: solid;
    border-spacing: 10px;
    border-width: 3px;
    float: left;
    overflow-y:auto;
    overflow-x: auto;
    border: 3px solid grey;
}

#ruimteTable{
    width: 50%;
    display: inline;
    max-height:calc(100% - 4px);
    position: absolute;
    margin-top: -550px;
    margin-left: 130px;
}

#gebruikerInfoTable{
    margin-left: 70%;
    width: 25%;
    display: inline;
    position: absolute;
    max-height:calc(100% - 4px);
    margin-top: -550px;
}
.admindata{
    border: 3px solid grey;
}

th{ 
    margin-left: 10%;
}

.adminbox{
    border-width:3px;
    border-color: gray;
}

.adminbox:hover{
    transition: 0.3s;
    background-color: yellow;
}

.datumGegevens{
    position: absolute;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 5%;
    margin-top: -545px;
}

#verw{
    margin-top: 50px;
    position: relative;
}

#uitloggen{
    width: 90px;
    height: 50px;
    border-style:solid;
    border-width:2px;
    text-align: center;
    margin-left: 22px;
    margin-top: 550px;
    cursor: pointer;
}

#profilePopup{
    width: 300px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    border-style:solid;
    border-width: 3px;
    margin-top: 150px;
    margin-left: 550px;
    display: none;
}

#profilePic{
    margin-top: -673px;
    margin-left: 150px;
    float: right;
    margin-right: 210px;
}

#naam{
    margin-top: -673px;
    margin-left: -90px;
}

#profilePic p{
    cursor: pointer;
}

#naam p{
    cursor: pointer;
}

#profileAfb{
   text-align: center;
   margin-top: 10px;
}

#profiledatatable{
    text-align: center;
    margin-top: 30px;
}

#profiledatatable {
    margin-left:30px;
}

#gebruikerAdmin{
    text-align: center;
}

#line{
    width: 100px;
    height: 0px;
    border-style:solid;
    margin-left: 100px;
}

#close_popup{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;    
    right: 5px;
    top: 5px;
}

#close_popup p{
    margin-top: 5px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
