body {
    background-color: yellow;
}

.mid {
    width: 400px;
    height: 510px;
    margin-left: 40%;
    margin-top: 10%;
    background-color: white;
}

.round {
    position:absolute;
    width: 300px;
    height:130px;
    background-color: lightgray;
    margin-top: 300px;
    border-radius: 15px;
    margin-left: 50px;
}

.logo {
    position: absolute;
    margin-top:50px;
    width:240px;
    height:160px;
    margin-left:50px;
    background-size: contain;
}

.formbox {
    position:absolute;
    width: 280px;
    margin-top: 10px;
    margin-left: 10px;
}

.content {
    position: absolute;
    width: calc(100% - 100px);
    height:calc(100% - 100px);
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:50px;
    background-color: white;
}

.floorlist {
    position: relative;
    float:right;
    width: 110px;
    height: 100%;
}

.floors {
    width: 55px;
    height:100%;
    margin-right:55px;
    position:absolute;
}

.floorbox{
    width: 90px;
    height: 50px;
    border-style:solid;
    border-width:2px;
    position:absolute;
}

#floor1 {
    margin-top:20px;
    cursor: pointer;
}

#floor2 {
    margin-top:90px;
    cursor: pointer;
}

#floor3 {
    margin-top:160px;
    cursor: pointer;
}

#uitloggen {
    margin-top: 230px;
    text-align: center;
    cursor: pointer;
}

#adminpage {
    margin-top: 300px;
    text-align: center;
    cursor: pointer;
}

.floorsquare{
    width:30px;
    height: 10px;
    position:absolute;
    float:left;
    margin-left:10px;
    border-style:solid;
    border-width: 1px;
}

#onefloorone {
    margin-top:20px;
}

#twofloorone {
    margin-top:10px;
}

#twofloortwo {
    margin-top:30px;
}

#threefloorone {
    margin-top:5px;
}

#threefloortwo {
    margin-top:20px;
}

#threefloorthree {
    margin-top:35px;
}

.floornr{
    position:absolute;
    margin-left:55px;
}

.floortext {
    font-size: 25px;
    margin-top:10px;
    margin-left:10px;
}

.pg {
    position: absolute;
    width: calc(100% - 420px);
    height:100%;
    margin-right:120px;
    margin-left:300px;
    display:none;

}

.details {
    position:absolute;
    height:100%;
    width: 300px;
    background-color:rgb(235, 235, 235);
    z-index:1;
    visibility: hidden;
}

.roomdetails {
    margin-top: 50px;
    margin-left: 30px;

}

.datum{
    position: absolute;
    margin-left: 70px;
    margin-top: 40px;
}

.datumtext{
    position: absolute;
    margin-left: 90px;
    margin-top:20px;
}

.datebutton{
    position: absolute;
    margin-left:100px;
    margin-top:65px;
    height:20px;
    width:80px;
    border-style:solid;
    border-width: 2px;
    text-align: center;
}

.datebutton:hover{
    background-color:yellow;
}

.datebuttontext{
    margin-top:0px;
    margin-bottom:0px;
}

.roomdetailstable {
    margin-top:70px;
    height:50px;
    border-style:solid;
    border-width:2px;
    border-collapse: collapse;
}

.detailtable {
    border-style: solid;
    border-width: 2px;
    width:50px;
    height:50px;
    text-align: center;
}

.occupied {
    position:absolute;
    margin-left:185px;
    margin-top:40px;
}

.roomname{
    position: absolute;
    margin-left:35px;
    margin-top:40px;
}

.ruimte{
    border-style:solid;
    border-width: 2px;
    position: absolute;
}

#ruimte1 {
    width:75px;
    height:75px;
    margin-top:50px;
    margin-left:50px;
}

#ruimte2 {
    width:75px;
    height:125px;
    margin-top:50px;
    margin-left:50px;
}

#ruimte3 {
    width:75px;
    height:150px;
    margin-top:50px;
    margin-left:50px;
}

.timebutton:hover {
    background-color:yellow;
}

.timebutton {
    position: absolute;
    width: 90px;
    height: 50px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    cursor: pointer;
}

#time1{
    margin-left: 40px;
    margin-top: 100px;
}

#time2{
    margin-left: 170px;
    margin-top: 100px;
}
#time3{
    margin-left:40px;
    margin-top:170px;
}
#time4{
    margin-left:170px;
    margin-top:170px;
}
#time5{
    margin-left:40px;
    margin-top:240px;
}
#time6{
    margin-left:170px;
    margin-top:240px;
}
#time7{
    margin-left:40px;
    margin-top:310px;
}

#time8{
    margin-left:170px;
    margin-top:310px;
}

#reserveerbtn{
    margin-top:390px;
    margin-left:105px;
}

#timebuttons{
    display:none;
}

#profilePic{
    margin-top: -70px;
    margin-left: -150px;
}

#naam{
    margin-top: -55px;
    margin-left: -90px;
}

#profilePic p{
    cursor: pointer;
}

#naam p{
    cursor: pointer;
}

#checkMark{
    margin-left: 150px;
    margin-top: 10px;
}

#succes{
    margin-left: 75px;
}

#close_popup{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;    
    right: 5px;
    top: 5px;
}

#close_popup p{
    margin-top: 5px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

#popup{
    width: 400px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    border-style:solid;
    border-width: 3px;
    margin-top: 150px;
    margin-left: -800px;
    display: none;
}

/*media query om de site responsive te maken (max-width: 1300px)*/
@media screen and (max-width: 1300px) {
    .popup{
        margin-left: -600px;
    }
}

/*media query om de site responsive te maken (max-width: 900px)*/
@media screen and (max-width: 900px){
    .popup{
        height: 150px;
        width: 200px;
        margin-left:-300px;
    }

    #checkMark{
    margin-left: 50px;
    margin-top: 10px;;
    }

    #succes{
        display: none;
    }
}

#profilePopup{
    width: 300px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    border-style:solid;
    border-width: 3px;
    margin-top: 150px;
    margin-left: -800px;
    display: none;
}

#profileAfb{
   text-align: center;
   margin-top: 10px;
}

#profiledatatable{
    text-align: center;
    margin-top: 30px;
}

#profiledatatable {
    margin-left:30px;
}

#gebruikerAdmin{
    text-align: center;
}

#line{
    width: 100px;
    height: 0px;
    border-style:solid;
    margin-left: 100px;
}

#container {
	position: absolute;
	height: 65%; 
	width: 50%;
	margin-top: 6%;
	margin-bottom: 12.5%;
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 5%;
	background: white;
	min-width:410px;
}

#afbeeldingDIF {
	position: absolute;
	width: 45%;
	height: 80%;
	margin-top: 5%;
	margin-left: 5%;
	background-image: url("https://www.dutchinnovationpark.nl/wp-content/uploads/2017/10/dif4.png");
	background-size: contain;
	background-repeat:no-repeat;
}

#registratieform {
	position: absolute;
	width: 50%;
	height:100%;
	margin-left:45%;
	margin-top:5%;
	margin-right:3%;
	min-width:400px;
}

#RegistrerenText {
	position: absolute;
	font-size: 450%;
}

#MeldjenuaanText {
	position: absolute;
	font-size: 200%;
	margin-left: 1px;
	margin-top: 80px;
	height:30px;
}

#register {
	position: absolute;
	margin-top:140px;
}

#table1 {
	border-spacing: 15px;
	margin-left: -14px;
}

#checkbox {
	position: absolute;
	margin-left: 105%;
	margin-top: 84%;
	width: 40%;
	height: 43%;
}

/*media query om de site responsive te maken (max-width: 1300px)*/
@media screen and (max-width: 1300px) {
	#afbeeldingDIF{
		display:none;
	}
}

/*media query om de site responsive te maken (max-width: 900px)*/
@media screen and (max-width: 900px){
	#registratieform{
		margin-left:5%;
	}
}

/*WachtwoordVergeten*/
#container3 {
	position: absolute;
	height: 460px; 
	width: 702px;
	margin-top: 6%;
	margin-bottom: 12.5%;
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 5%;
	background: white;
	min-width:410px;
	background-image: url("afbeelding.png");
}

#box {
	position: absolute;
	margin-left:25%;
	margin-top:15%;
	margin-right:3%;
	min-width:400px;
}

#table2 {
	font-size: 30px;
	border-spacing: 0px;
	padding-bottom: 0px;
	margin-top: 10px;
}

/*media query om de site responsive te maken (max-width: 1300px)*/
@media screen and (max-width: 1300px) {
	#table2{
		margin-left:-10%;
	}
}

/*media query om de site responsive te maken (max-width: 900px)*/
@media screen and (max-width: 900px){
	#table2{
		margin-left:-20%;
	}
}

.detailtablehead {
    background-color: lightgray;
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
}
.detailstable {
    border-style: solid;
    border-spacing: 10px;
    border-width: 3px;
    float: left;
    overflow-y:auto;
    overflow-x: auto;
    border: 3px solid grey;
}

#ruimteTable{
    width: 50%;
    display: inline;
    max-height:calc(100% - 4px);
    position: absolute;
    margin-top: -550px;
    margin-left: 130px;
}

#gebruikerInfoTable{
    margin-left: 70%;
    width: 25%;
    display: inline;
    position: absolute;
    max-height:calc(100% - 4px);
    margin-top: -550px;
}
.admindata{
    border: 3px solid grey;
}

th{ 
    margin-left: 10%;
}

.adminbox{
    border-width:3px;
    border-color: gray;
}

.adminbox:hover{
    transition: 0.3s;
    background-color: yellow;
}

.datumGegevens{
    position: absolute;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 5%;
    margin-top: -545px;
}

#verw{
    margin-top: 50px;
    position: relative;
}

#uitloggenAd{
    width: 90px;
    height: 50px;
    border-style:solid;
    border-width:2px;
    text-align: center;
    margin-left: 22px;
    margin-top: 550px;
    cursor: pointer;
}

#profilePopup{
    width: 300px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    border-style:solid;
    border-width: 3px;
    margin-top: 150px;
    margin-left: 550px;
    display: none;
}

#profilePic{
    margin-top: -673px;
    margin-left: 150px;
    float: right;
    margin-right: 210px;
}

#naam{
    margin-top: -673px;
    margin-left: -90px;
}

#profilePic p{
    cursor: pointer;
}

#naam p{
    cursor: pointer;
}

#profileAfb{
   text-align: center;
   margin-top: 10px;
}

#profiledatatable{
    text-align: center;
    margin-top: 30px;
}

#profiledatatable {
    margin-left:30px;
}

#gebruikerAdmin{
    text-align: center;
}

#line{
    width: 100px;
    height: 0px;
    border-style:solid;
    margin-left: 100px;
}

#close_popup{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;    
    right: 5px;
    top: 5px;
}

#close_popup p{
    margin-top: 5px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
